.rnOuter {
  background: black;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.rnInner {
  background: hsl(0, 80%, 50%);
  width: 62.5%;
  position: absolute;
  top: -10%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 6s ease;
  transition: -webkit-transform 6s ease;
  transition: transform 6s ease;
  transition: transform 6s ease, -webkit-transform 6s ease;
}

.left {
  left: -10%;
  -webkit-transform-origin: -120% top;
  transform-origin: -120% top;
}

.right {
  left: 50%;
  -webkit-transform-origin: 140% top;
  transform-origin: 140% top;
}

.rnUnit {
  width: 10vw;
  height: 120vh;
  background: repeating-linear-gradient(to left, hsl(0, 80%, 50%) 4vw, hsl(0, 80%, 30%) 8vw, hsl(0, 80%, 70%) 10vw);
  background-size: 100% 100%;
  display: inline-block;
  -webkit-transform-origin: 0 0%;
  transform-origin: 0 0%;
}

.left .rnUnit {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-animation: rnUnit1 2s ease infinite;
  animation: rnUnit1 2s ease infinite;
}

.right .rnUnit {
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-animation: rnUnit2 2s ease infinite;
  animation: rnUnit2 2s ease infinite;
}

@-webkit-keyframes rnUnit1 {
  50% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

@keyframes rnUnit1 {
  50% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}

@-webkit-keyframes rnUnit2 {
  50% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes rnUnit2 {
  50% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.rnUnit:nth-child(1) {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.rnUnit:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.rnUnit:nth-child(3) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.rnUnit:nth-child(4) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.rnUnit:nth-child(5) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.rnUnit:nth-child(6) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.rnUnit:nth-child(7) {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.rnUnit:nth-child(8) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.rnUnit:nth-child(9) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.rnUnit:nth-child(10) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.aoTable {
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

h1 {
  margin: 0;
}

.god-image img {
  margin: auto;
  max-width: 100%;
  max-height: 80vh;
}

.helper-text {
  display: block;
  padding: 0.5rem 0;
  border: 2px solid black;
  background: white;
  position: fixed;
  top: 5vh;
  left: 50vw;
  width: 30ch;
  transform: translateX(-50%);
  border-radius: 2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@keyframes fade-out {
  to {
    opacity: 0;
    top: 0;
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .welcome-text {
    font-size: 2.5rem;
  }
}