/*@import url("https://fonts.googleapis.com/css?family=Stalemate");*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
  overflow: hidden;
  padding: 10px;
    /*url(https://s-media-cache-ak0.pinimg.com/originals/30/b3/a9/30b3a9b27032a6b9c1d7a69d2400fb9e.jpg);*/
  /*font-family: "Stalemate", cursive;*/
}

ul.drawer-menu {
  z-index: 38;
  position: fixed;
  background: white;
  color: black;
  height: 100vh;
  top: 0;
  left: -100vw;
  max-width: 80vw;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  border-right: 1px solid black;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

li.page-number {
  list-style-type: none;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.englishFonts {
  font-family: Verdana, sans-serif;
}


button.drawer-toggle {
  z-index: 35;
  position: fixed;
  top: 0;
  left: 0rem;
  padding: 1rem;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.container {
  overflow: hidden;
  /*   margin-top: 3%; */
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto;
}


.book-wrapper {
  position: relative;
  /*   width: 670px; */
}

.book-wrapper .book-cover img{
  /*filter*/: drop-shadow(15px 5px 5px #494338);
  display: block;
  height: 90vh;
  width: 75vw;
}
.pages-container {
  position: absolute;
  top: 4%;
  left: 4%;
  right: 0;
  bottom: 0;
  width: 91.5%;
  height: 91%;
}

.pages {
}
.pages [class^="page-num-"] {
  background-image: url("./2785815.jpg");
  border: 3px solid white;
  background-color: #FFE4C4;
  background-size: 200% 100%;
  position: relative;
}

.pages-content {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10%;
}

.content-inner {
  font-family: 'Hind Vadodara', sans-serif !important;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: 900;
  color: #c56517;
}

.book-wrapper {
  user-select: none;
}

.page-num-1 .pages-background {
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  /*     url(https://openclipart.org/image/2400px/svg_to_png/242093/Vintage-Floral-Texture-Background.png); */
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.content-inner{
    font-size: 1rem !important;
  }

@media screen and (max-width: 768px) {
  .content-inner{
    font-size: 0.8rem !important;
  }

  ul.drawer-menu {
  z-index: 38;
  position: fixed;
  background: white;
  color: black;
  height: 100vh;
  top: 0;
  left: -100vw;
  max-width: 70vw;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  border-right: 1px solid black;
}
}

@media only screen and (max-width: 768px) {
  .book-wrapper img {
    width: 90vw;
  }
}

.topcorner{
    position:absolute;
    top:10px;
    right: 10px;
    font-weight: 900;
 }

 .topcorner-left{
    position:absolute;
    top:10px;
    left: 10px;
    font-weight: 900;
 }

 .bottomcorner{
    position: absolute;
    bottom: 10px;
    right: 10px;
 }

 .bottomleft{
    position: absolute;
    bottom: 10px;
    left: 10px;
 }

 .bottomcnter{
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border: solid 1px;
  padding: 5px;
 }

.imgpage{
  height: 28rem; 
  width: 20rem;"
}

 @media only screen and (max-width: 768px) {
  .topcorner{
    position:absolute;
    top:10px;
    right: 10px;
    font-weight: 900;
 }

 .topcorner-left{
    position:absolute;
    top:10px;
    left: 10px;
    font-weight: 900;
 }

 .bottomcorner{
    position: absolute;
    bottom: 10px;
    right: 10px;
 }

 .bottomleft{
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: auto;
 }

 .bottomcnter{
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border: solid 1px;
  padding: 5px;
 }

.imgpage{
  height: 35rem; 
  width: 20rem;"
}


}